 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #ffffff;
            font-family: "Segoe UI", Arial, sans-serif;
        }
        body:hover{
            background-color: #1e1e1e;
        }

        .calculator {
            width: 240px;
            padding: 15px;
            background: linear-gradient(145deg, #3b3b3b, #2b2b2b);
            border-radius: 15px;
            box-shadow: 
                0 10px 25px rgba(0,0,0,0.6),
                inset 0 1px 1px rgba(255,255,255,0.1);
        }

        #display {
            width: 225PX;
            height: 50px;
            font-size: 22px;
            margin-bottom: 12px;
            text-align: right;
            padding-right: 10px;
            background: #baff7a;
            color: #222;
            border: none;
            border-radius: 10px;
            box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
            cursor: text;
        }
        #display:hover{
            color: white;
            background-color: coral;

        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        button {
            width: 50px;
            height: 50px;
            margin: 4px 0;
            font-size: 18px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            background: #f2f2f2;
            color: #000;
            box-shadow: 
                0 4px 8px rgba(0,0,0,0.4),
                inset 0 1px 1px rgba(255,255,255,0.6);
            transition: 0.15s ease;
        }

        button:hover {
            background: #111;
            color: #fff;
        }
        

        button:active {
            transform: scale(0.92);
            box-shadow: inset 0 3px 6px rgba(0,0,0,0.6);
        }

        .operator {
            background: #ff9f1c;
            color: #000;
        }

        .operator:hover {
            background: #ff7b00;
            color: #fff;
        }

        .equal {
            background: #00d26a;
            color: #000;
        }

        .equal:hover {
            background: #00a857;
            color: #fff;
        }